<div class="container mt-5">
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" [(ngModel)]="filterStatus" />
      <hr />
      <h3>Overall satus: {{ serverStatus | async }}</h3>
      <hr />
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter: filterStatus:'status'"
          [ngClass]="getStatusClasses(server)"
        >
          <strong>{{ server.name }}</strong> | {{ server.instanceType }} |
          {{ server.started | date: 'fullDate' | uppercase }}
          <span class="badge badge-secondary float-right">
            {{ server.status }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
